<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main_content">
        {{>header}}
        <br><br>
            <img class="potrait" src="/img/me.JPG"> <br><br>
            <p class="text">
                I am an electronics and communication undergraduate at Indian Institute of Information Techonology, Bhopal. I love connecting 
                tech around me to the internet. I am passionate about robotics and dream to live the Tony Stark life one day! Using my engineering
                skills to innovate is my goal. If you wish to contact me, feel free to drop an email at - ashutoshsingh291999@gmail.com. 
            </p>
    </div>
    <br>
    <br>
    {{>footer}}
</body>
</html>